{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Finance Manager</title>
{% endblock %}
{% block breadcrumb %}
<a href="{% url 'home' %}" class="breadcrumb-item">
  Home <span>&rsaquo;</span>
</a>
  <a href="{% url 'finance-manager' %}" class="breadcrumb-item">
    Finance <span>&rsaquo;</span>
  </a>
{% endblock %}

{% block content %}
<div class="flex-col gap-sm page-wrapper">
  <div class="flex-row align-center justify-between">
    <h1>Finance Manager</h1>
    <div class="flex-row gap-sm">

    </div>
  </div>
  <hr>
  <!-- Table container -->
  <div id="income-table" class="table-container">
    <!-- Table will be rendered here by JS -->
  </div>
</div>
{% endblock %}

{% block extra_js %}

{% endblock %}
