<div class="flex-row align-center">
  
</div>

<div class="flex-row align-center gap-2">
  <button
    id="btn-new-window"
    type="button"
    class="bottom-bar-btn top-left"
    data-title="New Window"
  >
    <span id="btn-new-window" class="material-symbols-outlined"> new_window </span>
  </button>
  <button
    id="btn-fullscreen"
    type="button"
    class="bottom-bar-btn top-left"
    data-title="Fullscreen"
  >
    <span id="btn-fullscreen" class="material-symbols-outlined"> fullscreen </span>
  </button>
</div>