<div class="flex-row align-center gap-md">
  <p>Created By: <span class="bottombar-text-highlight-clr">Craig Gent</span></p>
  <p>Date Created: <span class="bottombar-text-highlight-clr">11/12/2024</span></p>
  <p>Version: <span class="bottombar-text-highlight-clr">1.0.0</span></p>
</div>

<div class="flex-row align-center gap-sm">
  <button
    id="btn-new-window"
    type="button"
    class="bottom-bar-btn top-left"
    data-title="New Window"
  >
    <span id="btn-new-window" class="material-symbols-outlined"> new_window </span>
  </button>
  <button
    id="btn-fullscreen"
    type="button"
    class="bottom-bar-btn top-left"
    data-title="Fullscreen"
  >
    <span id="btn-fullscreen" class="material-symbols-outlined"> fullscreen </span>
  </button>
</div>