<div class="sidebar-content">
  <!-- Sidebar top content -->
  <div class="sidebar-top-content">
    <a class="sidebar-btn sidebar-toggle-btn bottom-right" data-title="Toggle Menu">
      <span class="material-symbols-outlined sidebar-btn-icon sidebar-toggle-btn">
        menu
      </span>
    </a>
    <hr class="sidebar-seperator">
    <a href="{% url 'home' %}" class="sidebar-btn top-right" data-title="Home">
      <span class="material-symbols-outlined sidebar-btn-icon">
        home
      </span>
      <span class="sidebar-btn-text">
        Home
      </span>
    </a>

    <!-- App Buttons -->
    <a href="#" class="sidebar-btn top-right" data-title="Personal Finance">
      <span class="material-symbols-outlined sidebar-btn-icon">
        finance
      </span>
      <span class="sidebar-btn-text">
        Personal Finance
      </span>
    </a>
    <a href="#" class="sidebar-btn top-right" data-title="Personal Savings">
      <span class="material-symbols-outlined sidebar-btn-icon">
        savings
      </span>
      <span class="sidebar-btn-text">
        Personal Savings
      </span>
    </a>
    <a href="#" class="sidebar-btn top-right" data-title="Shopping Tracker">
      <span class="material-symbols-outlined sidebar-btn-icon">
        shopping_bag
      </span>
      <span class="sidebar-btn-text">
        Shopping Tracker
      </span>
    </a>
    <!-- App Buttons End-->
  </div>
  <!-- Sidebar top content end -->

  <!-- Sidebar bottom content -->
  <div class="sidebar-bottom-content">
    <hr class="sidebar-seperator">
    <a class="sidebar-btn top-right" data-title="Help">
      <span class="material-symbols-outlined sidebar-btn-icon">
        help
      </span>
      <span class="sidebar-btn-text">
        Help
      </span>
    </a>
    <a class="sidebar-btn top-right" data-title="Information">
      <span class="material-symbols-outlined sidebar-btn-icon">
        info
      </span>
      <span class="sidebar-btn-text">
        Information
      </span>
    </a>
    <a class="sidebar-btn top-right" data-title="Account">
      <span class="material-symbols-outlined sidebar-btn-icon">
        account_circle
      </span>
      <span class="sidebar-btn-text">
        Account
      </span>
    </a>
    <a class="sidebar-btn top-right" data-title="Settings">
      <span class="material-symbols-outlined sidebar-btn-icon">
        settings
      </span>
      <span class="sidebar-btn-text">
        Settings
      </span>
    </a>
  </div>
  <!-- Sidebar bottom content end -->
</div>