<!-- Titlebar template containing all the markup for the titlebar -->
<div class="titlebar-content">
  <div class="flex-row align-center">
    <button id="btn-file-menu" class="btn titlebar-btn" type="button">
      File
      
    </button>
    <button id="btn-edit-menu" class="btn titlebar-btn" type="button">
      Edit
      
    </button>
    <button id="btn-view-menu" class="btn titlebar-btn" type="button">
      View
      
    </button>
    <button id="btn-settings-menu" class="btn titlebar-btn" type="button"
    >Settings
      
    </button>
  </div>
  <div class="flex-row align-center gap-xs">
    <!-- Additional Buttons -->
    <button
        id=""
        type="button"
        class="titlebar-btn bottom-left"
        data-title="Back"
      >
        <span id="" class="material-symbols-outlined icon-md"> arrow_back </span>
    </button>
    <button
        id=""
        type="button"
        class="titlebar-btn bottom-left"
        data-title="Forward"
      >
        <span id="" class="material-symbols-outlined"> arrow_forward </span>
    </button>
    <button
        id=""
        type="button"
        class="titlebar-btn bottom-left"
        data-title="Apps"
      >
        <span id="" class="material-symbols-outlined"> apps </span>
    </button>
    <!-- Adittional Buttons End -->
  
    <!-- Search Button -->
    <button
        type="button"
        class="searchbar-btn"
      >
      <span id="" class="material-symbols-outlined"> search </span>
      Search
    </button>
    <!-- Search button End -->

    <!-- Toggle buttons -->
    <button
        id=""
        type="button"
        class="titlebar-btn bottom-left"
        data-title="Toggle Layout"
      >
        <span id="" class="material-symbols-outlined"> view_comfy_alt </span>
    </button>
    <button
        id="btn-right-menu"
        type="button"
        class="titlebar-btn bottom-left"
        data-title="Toggle Right Menu"
      >
        <span id="btn-right-menu" class="material-symbols-outlined"> right_panel_open </span>
    </button>
    <button
        id="btn-bottom-menu"
        type="button"
        class="titlebar-btn bottom-left"
        data-title="Toggle Bottom Menu"
      >
        <span id="btn-bottom-menu" class="material-symbols-outlined"> bottom_navigation </span>
    </button>
    <button
        id="btn-explorer"
        type="button"
        class="titlebar-btn bottom-left"
        data-title="Toggle Explorer"
      >
        <span id="btn-explorer" class="material-symbols-outlined"> side_navigation </span>
    </button>
    <!-- Toggle buttons end -->

    <!-- Main window buttons -->
    <button
        id="btn-minimize"
        type="button"
        class="titlebar-btn bottom-left"
        data-title="Minimize"
      >
        <span id="btn-minimize" class="material-symbols-outlined"> remove </span>
    </button>
    <button
      id="btn-maximize"
      type="button"
      class="titlebar-btn bottom-left"
      data-title="Maximize/Restore"
    >
      <span id="btn-maximize" class="btn-maximize-icon material-symbols-outlined">
        crop_square
      </span>
    </button>
    <button
      id="btn-close"
      type="button"
      class="titlebar-btn close-btn bottom-left"
      data-title="Close"
    >
      <span id="btn-close" class="material-symbols-outlined"> close </span>
    </button>
    <!-- Main window buttons end -->
  </div>
</div>