{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% endblock %}

  {% block title %}
  <title>Document</title>
  {% endblock %}

  {% block links %}
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
  {% endblock %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

  {% block js %}
  <script type="module" src="{% static 'js/index.js' %}"></script>
  {% endblock %}
</head>
<body>
  <!-- Main app container -->
  <div class="app-container">
    <!-- Titlebar -->
    <div class="titlebar">
      {% include 'includes/titlebar.html' %}
    </div>
    <!-- End of titlebar -->

    <!-- Middle section -->
    <div class="middle-section">

      <!-- Sidebar -->
      <div class="sidebar">
        {% include 'includes/sidebar.html' %}
      </div>
      <!-- End of sidebar -->

      <!-- Explorer -->
      <div class="explorer">
        <div class="explorer-resizer"></div>
        {% include 'includes/explorer.html' %}
      </div>
      <!-- End of explorer -->

      <!-- Middle Content -->
      <div class="middle-content">
        <!-- Breadcrumb -->
        <div class="breadcrumb">

        </div>
        <!-- End of breadcrumb -->

        <!-- Content -->
        <div class="content">
          {% block content %}

          {% endblock %}
        </div>
        <!-- End of content -->

        <!-- Bottom Menu-->
        <div class="bottom-menu">
          <div class="bottom-menu-resizer"></div>
          {% include 'includes/bottom-menu.html' %}
        </div>
        <!-- End of bottom menu -->
      </div>
      <!-- End of middle content -->

      <!-- Right Menu -->
      <div class="right-menu">

      </div>
      <!-- End of right menu -->

    </div>
    <!-- End of middle section -->
    
    <!-- Bottom bar -->
    <div class="bottom-bar">
      {% include 'includes/bottombar.html' %}
    </div>
    <!-- End of bottom bar -->

  </div>
  <!-- End of main app container -->
</body>
</html>